@import 'bootstrap/buttons';
@import 'bootstrap/card';
@import 'bootstrap/carousel';
@import 'bootstrap/jumbotron';
@import 'bootstrap/list-group';
@import 'bootstrap/type';

@import 'components/about'; // Sassify!!
@import 'components/blog';
@import 'components/campaign-monitor';
// @import 'components/companies'; // Sasify!!
@import 'components/contact'; // Still some sass to do
@import 'components/display-posts';
@import 'components/flaticon';
@import 'components/footer';
@import 'components/header';
@import 'components/multi-item-carousel';
@import 'components/pricing';
@import 'components/section';

///
// home page specific
///
.home {
    .entry-title {
        display: none;
    }
}

///
// Preloader
///
.no-js {
    #loader {
        display: none;
    }
}

.js {
    #loader {
        display: block;
        position: absolute;
        top: 0;
        left: 100px;
    }
}

.se-pre-con {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
    z-index: 9999;
    background: url('../images/preloader.gif') center no-repeat $white;
}
