// home page: about us section


/*

.default-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-area {
    h2 {
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 20px;
    }

    h4 {
        color: $primary;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: $s_xs;
    }

    .col-lg-6 {
        margin-bottom: $s_sm;
    }

    .item {
        i {
            color: $primary;
            display: inline-block;
            font-size: 4rem;
            margin-bottom: $s_sm;
            position: relative;
            z-index: 1;
            line-height: 1;
        }
    }
}

.about-area .bottom-info {
  border-top: 1px solid #e7e7e7;
  margin-top: 35px;
  padding-top: 30px;
}

.about-area .bottom-info span {
  display: table;
  padding-top: 2px;
}

.about-area .default.info h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.about-area .default.info > a {
  margin-top: 10px;
}

.about-area .bottom-info li {
  color: #666666;
  display: block;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.about-area .bottom-info li i {
  background: $primary none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: 1;
}

.about-area .bottom-info li:last-child {
  margin: 0;
}

.about-area .bottom-info li i::after {
  background: $primary none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 28px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: -1;
}

.about-area .services-info .item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-top: 30px;
  padding: 30px;
}

.about-area .services-info {
  margin-top: -30px;
}


.about-area .services-info .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.about-area .services-info .item p {
  margin: 0;
}

.about-area .services-info .equal-height:nth-child(1) .item,
.about-area .services-info .equal-height:nth-child(4) .item {
  background: $primary none repeat scroll 0 0;
}

.about-area .services-info .equal-height:nth-child(1) .item i,
.about-area .services-info .equal-height:nth-child(4) .item i,
.about-area .services-info .equal-height:nth-child(1) .item h4,
.about-area .services-info .equal-height:nth-child(4) .item h4,
.about-area .services-info .equal-height:nth-child(1) .item p,
.about-area .services-info .equal-height:nth-child(4) .item p {
  color: #fff;
}

*/
