// companies
.companies-area {
	background-color: lighten($primary, 30%);

	.row {
		display: flex;
		justify-content: center;
		align-self: center;
		align-items: center;
		vertical-align: middle;
	}

	.clients-items {
		img {
			width: auto;
			margin: auto;
			padding: 5px;
		}

		.owl-nav {
			margin: 0;

			.owl-prev,
			.owl-next {
				position: absolute;
				margin-top: -18px;
				padding: 0;
				background: transparent none repeat scroll 0 0;
				color: $primary;
				font-size: 30px;
				height: 35px;
				left: 0;
				line-height: 35px;
				text-align: center;
				top: 50%;
				width: 35px;
			}
		}
	}
}



.companies-area .clients-items .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.companies-area .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.companies-area .info p {
  margin: 0;
}
