.section-work-with-us {
    ul {

    }

    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: $s_xs;
        font-size: $font-size-base * 0.8;
        line-height: 1.8;
    }

    .fas {
        margin-right: $s_xs;
        border-radius: 50%;
        color: $primary;
        font-size: $h4-font-size;
    }
}

.social {
    display: flex;
    
    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 2px;
        text-align: center;
        color: $white;
        line-height: 40px;
        border-radius: 50%;
    }

    .twitter a {
        background-color: $c_twitter;
    }

    .pinterest a {
        background-color: $c_pinterest;
    }

    .facebook a {
        background-color: $c_facebook;
    }

    .g-plus a {
        background-color: $c_g_plus;
    }

    .vimeo a {
        background-color: $c_vimeo;
    }

    .instagram a {
        background-color: $c_instagram;
    }

}


.contact-us-area {
    //
    // .info {
    //     list-style-type: none;
    //     margin-bottom: $s-lg;
    //     padding-left: 0;
    //
    //     li {
    //     }
    // }


    .social {
        margin-bottom: $s-lg;
        padding-left: 0;

        li {
            display: inline-flex;


        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $white;
            text-align: center;
        }
    }
}

.contact-form {
    h2 {
        text-transform: none;
    }

    .form-group {
        width: 100%;
    }

    .form-control {
        font-size: $font-size-sm;
        border: 1px solid #e7e7e7;
        box-shadow: none;
        color: #232323;
    }

    textarea {
          min-height: 300px;
    }

    button {
        i {
            padding-left: $s_xs;
        }
    }
}

// .contact-us-area .address .address-items h4 {
//   font-weight: 600;
//   position: relative;
//   text-transform: uppercase;
//   z-index: 1;
// }
//
// .contact-us-area .address {
//   padding-right: 35px;
// }
//
// .contact-us-area .address .address-items ul {
//   margin-bottom: 40px;
// }
//
// .contact-us-area .address .address-items ul.social {
//   margin-bottom: 50px;
// }
//
// .contact-us-area .google-maps iframe {
//   height: 300px;
//   margin-bottom: -8px;
//   width: 100%;
// }
//
// .contact-us-area .address .social li {
//   display: inline-block;
// }
//
// .contact-us-area .address .social li a {
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   color: #ffffff;
//   display: inline-block;
//   height: 40px;
//   line-height: 40px;
//   margin: 0 2px;
//   text-align: center;
//   width: 40px;
// }
//

//
// .contact-us-area .address-items .info li i {
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   color: #4ac4f3;
//   display: table-cell;
//   font-size: 20px;
//   text-align: center;
//   vertical-align: top;
//   width: 30px;
// }
//
// .contact-form img {
//   margin-left: 10px;
// }
//
// .contact-us-area .address-items .info li span {
//   display: table-cell;
//   padding-left: 10px;
//   vertical-align: middle;
// }
//
// .contact-us-area .address-items .info li {
//   margin-bottom: 15px;
// }
//
// .contact-us-area .address-items .info li:last-child {
//   margin: 0;
// }
//
// .contact-us-area .contact-form h2 {
//   font-weight: 600;
//   margin-bottom: 30px;
//   text-transform: capitalize;
// }
//
// .contact-us-area .contact-form input {
//   border: 1px solid #e7e7e7;
//   box-shadow: inherit;
//   color: #232323;
// }
//
// .contact-us-area .contact-form textarea {
//   border: 1px solid #e7e7e7;
//   box-shadow: inherit;
//   min-height: 300px;
//   padding-top: 15px;
// }
//
// .contact-us-area .contact-form button {
//   background: #4ac4f3 none repeat scroll 0 0;
//   border: medium none;
//   box-shadow: inherit;
//   color: #ffffff;
//   display: inline-block;
//   font-family: "Poppins",sans-serif;
//   font-weight: 600;
//   margin-top: 15px;
//   padding: 10px 35px;
//   text-transform: uppercase;
//   -webkit-border-radius: 30px;
//   -moz-border-radius: 30px;
//   border-radius: 30px;
// }
//
// .contact-us-area .contact-form button i {
//   margin-left: 5px;
// }
//
// .contact-form-area .alert-notification {
//   margin-top: 15px;
//   padding: 0;
// }
//
// .contact-form-area .alert-notification .alert-error {
//   background: #e7e7e7 none repeat scroll 0 0;
//   color: red;
//   margin-top: 0;
//   text-align: left;
// }
//
// .contact-form-area.bg-fixed .alert-notification .alert-error {
//   background: #ffffff none repeat scroll 0 0;
//   color: red;
//   margin-top: 0;
//   text-align: left;
// }
//
//
// .contact-us-area form.contact-form .alert-notification {
//     margin-top: 30px;
//     padding: 0;
// }
// .contact-us-area form.contact-form .alert-notification h3 {
//     color: green;
//     margin-bottom: 10px;
// }
//
// .contact-us-area form.contact-form .alert-notification .alert-msg .alert-error {
//   background: #f4f4f4 none repeat scroll 0 0;
//   color: red;
//   margin-top: 30px;
// }
