#loader {
	.no-js & {
		display: none;
	}

	.js & {
		display: block;
		position: absolute;
		top: 0;
		left: 100px;
	}
}

.se-pre-con {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: url('images/preloader.gif') center no-repeat $white;
}

// temp logo sizing
.custom-logo-link {
	img {
		max-width: 200px;
	}
}

// Navbar shrinking
.navbar {
    padding: 1rem;
    background-color: $c-navbar-bg;
    // border-bottom: 1px solid $c-navbar-border;
	box-shadow: 0 3px 6px 0 $c-navbar-box-shadow;

    // Shrink the header
	&.shrink {
		height: 70px;
		padding: $s-xs $s-sm;
		top: 0;
		background-color: $c-navbar-bg-shrink;
		transition: all .33s ease-in-out;

		.mob-standard-logo {
		  height: 70px;
		  transition: all .33s ease-in-out;
		}
	}

	@include media-breakpoint-down(xs) {
		height: 115px;

		&.shrink {
			height: 115px;
		}
	}
}

.navbar-expand-md {
    .navbar-nav {
        .nav-link {
            padding-right: $s-sm;
            padding-left: $s-sm;
        }
    }
}

// Leave space at the top of the page for the fixed navbar.
.site {
    margin-top: $s-lg;

	@include media-breakpoint-up(md) {
		margin-top: $s-xl;
	}

	@include media-breakpoint-up(lg) {
		margin-top: $s-xl + $s-xs;
	}
}

// hide page title on home page
.home {
    .entry-header {
        display: none;
    }
}
