.section {
    z-index: 1;
    position: relative;
    padding-top: $s_xl;
    padding-bottom: $s_xl * 2;

}

.section-newsletter,
.section-whatever {
    h2,
    p {
        color: $white;
    }
}

.section-scroll-to {
    display: flex;
    margin-top: $s_lg;
}

.section-testimonials {
    padding-bottom: $s_xl * 1;
}

/// 1. pust the dark overlay over the bg image
// TODO: move this somewhere better
.fixed-bg {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    // z-index: -1;

    &-newsletter {
        background-image: url('/wp-content/uploads/2019/09/bigplane-test-image.jpg');
    }

    &::after { // 1
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        content: "";
        width: 100%;
        height: 100%;
        background: $black none repeat scroll 0 0;
        opacity: 0.5;
    }
}
